input.form-control {
    width: 250px;
    border: 1px solid #666; 
    border-radius: 5px; 
    padding: 4px; 
    font-size: 16px;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited{
background-color: #0000FF;
border-color: #0000FF;
color:white
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:100%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #0000FF;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	

h1.title{
    color:#A9A9A9;
}
